/**
Ajustar a altura do elemento, height
Ajustar a largura do elemento, width
Ajustar o espaçamento interno do elemento, padding
Ajustar o espaçamento externo do elemento, margin
**/

body {
	
}

#banner {
    width: 100%;
}

.principal {
    background: #CCCCCC;
    padding: 30px;
}

.titulo-principal {
    padding-left: 20px;
}

.caixa {
	position: auto ; 
	width: auto;
	margin: auto;
}

nav {
	position: absolute;
	top: 0px;
	right: 0px;
}

nav li {
	display:flex;
	margin: auto;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
    color:#C78C19;
    text-decoration: underline;
}

.titulo-centralizado {
    text-align: center;
}

p {
	text-align: center;
}

#missao {
    font-size: 20px;
}

em strong {
	color: #FF0000;
}

.itens {
    font-style: italic;
}

.beneficios {
    background: #FFFFFF;
    padding: 20px;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;;
}

.imagembeneficios {
    width: 50%;

}